/* Reset cơ bản */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nền trắng xanh dương nhạt cho toàn app */
body {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f8ff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
